---
layout: default
---
<h2>All Project Blogs</h2>
<p>This is an archive of the ASF project Roller (<a href="https://roller.apache.org/" target="_blank">blogs</a> that were previously available on <code>blogs.apache.org</code>.</p> 

<p>Many projects have migrated their blogs to other systems; however, we do not have a central list of where the active blogs are. If you are interested in a particular project, there is a good chance you will find a link to the project blog on the project's website.</p>
<p>For example, the Infrastructure website has a link to the Infra blog at <a href="https://infra.apache.org/blog/" target="_blank">infra.apache.org/blog</a>.</p>

<p>The source for this web site may be found at: <code>https://github.com/apache/infrastructure-blogs-archive/</code>.</p>
<hr/>
<ul>
{% assign categories_list = site.categories | sort %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | downcase }} ({{ site.tags[category].size }})</a>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <a href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | downcase }} ({{ category[1].size }})</a>
    {% endfor %}
  {% endif %}
{% assign category = nil %}
</ul>

<br>
<br>
<h2>Archives</h2>
{% for category in categories_list %}
  <h3 id="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }}</h3>
  <ul>
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

</div>
